/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  color: var(--accent-text-color);
}

.footer__box {
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    align-items: baseline;
    text-align: start;
  }
}

.footer__block {
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    max-width: 270px;
    margin-right: auto;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.address__item:not(:first-child) {
  opacity: 0.6;
  margin-top: 9px;
}

.address__link {
  font-style: normal;
  line-height: 1.71;
}

.footer__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.social-icons__link {
  background: rgba(255, 255, 255, 0.1);

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-icons__svg--write {
  fill: var(--accent-text-color);
}
