/* Header */
.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__nav {
  display: inline-flex;
  align-items: center;
}

.header__logo {
  color: var(--secondary-accent-color);
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header-contact {
  color: var(--secondary-text-color);

  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1200px) {
    display: inline-flex;
  }
}

.header-contact__item:not(:last-child) {
  @media screen and (max-width: 1199.98px) {
    margin-top: 21px;
    margin-bottom: 10px;
  }
}

.header-contact__item:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}

.header-contact__link {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  @media screen and (min-width: 1200px) {
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.14;
  }
}
