/* Header */
.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__nav {
  display: inline-flex;
  align-items: center;
}

.header__logo {
  color: var(--secondary-accent-color);
  margin-right: 93px;
  padding: 25px 0px;
}

.header__contact {
  color: var(--secondary-text-color);
}
