.team {
  background-color: var(--accent-background-color);
  text-align: center;
}

.team__item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-background-color);
}

.team__cards {
  padding: 30px 0px;
}

.team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team__text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}
