/* working */
.working {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
    padding-top: 0;
  }
}

.working__item {
  flex-basis: calc((100% - 3 * 30px) / 3);
}

.working__thumb {
  position: relative;
}

.working__label {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(47, 48, 58, 0.8);
}

.working__text {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--accent-text-color);
}
