/* Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transition-property: opacity;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  padding: 40px;

  width: 528px;
  height: 581px;
  max-height: 100vh;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  background: var(--primary-background-color);

  transition-property: transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  background-color: var(--primary-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;
  transform: scale(1);

  transition-property: transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:active {
    transform: scale(0.9);
  }
}

.modal__icone-close {
  width: 100%;
  height: 100%;

  .modal__btn-close:hover &,
  .modal__btn-close:focus & {
    fill: var(--accent-color);
  }
}

.modal-form {
  box-sizing: border-box;
  text-align: left;
  width: 100%;
  color: var(--secondary-text-color);
}

.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
  color: var(--primary-text-color);
}

.modal-form__field {
  position: relative;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 20px;
  }
}

.modal-form__label {
  display: inline-block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;

  transition-property: border-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

.modal-form__input--textarea {
  display: block;
  height: 120px;
  padding: 12px 16px;
  resize: none;

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form__icone {
  position: absolute;
  left: 12px;
  bottom: 11px;
  width: 18px;
  height: 18px;

  transition-property: fill;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  .modal-form__input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-form__checkbox {
  text-align: center;
  margin-bottom: 30px;
}

.checkbox__label {
  line-height: 1.71;

  &::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 15px;

    border: 1.5px solid var(--primary-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
  }
}

.checkbox__input:checked + .checkbox__label::before {
  background-image: url(../images/icons/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  background-color: var(--accent-color);
  border: var(--accent-color);
  border-radius: 2px;
}

.checkbox__input {
  transition-property: border-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.checkbox__input:focus + .checkbox__label::before {
  border-color: var(--accent-color);
}

.checkbox__input:hover + .checkbox__label::before {
  cursor: pointer;
}

.checkbox__link {
  color: var(--accent-color);
}

.modal-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;

  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
