:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --accent-background-color: #f5f4fa;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #ffffff;
  --accent-color: #2196f3;
  --secondary-accent-color: #000000;
  --icons-color: #afb1b8;
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
